@model Bangazon.Models.ProfileViewModels.ProfileViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>My Profile</h1>

<div>
    <h4></h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.StreetAddress)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.StreetAddress)
        </dd>
        <dt class="col-sm-2">
            <a asp-controller="PaymentTypes" asp-action="Index">Payment Options</a>
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="PaymentTypes" asp-action="Create">Add a Payment Type</a>
        </dd>
        <dt class="col-sm-2">
            Order History
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Orders" asp-action="Index">View Order History</a>
        </dd>
    </dl>
    <div>
        @Html.ActionLink("Edit Account", "Edit", new { id = Model.Id }, new { @class = "btn btn-link" }) |

    </div>
</div>